/* ============================================================
   Self-hosted Manrope (Latin/UI typeface).
   Static WOFF2 instances of the OFL-licensed Manrope variable font;
   see src/assets/fonts/manrope/README.md and OFL.txt for provenance
   and license. No external font request is made by this stylesheet.
   ============================================================ */

@font-face {
  font-family: "Manrope";
  src: url("../assets/fonts/manrope/Manrope-400.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Manrope";
  src: url("../assets/fonts/manrope/Manrope-500.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Manrope";
  src: url("../assets/fonts/manrope/Manrope-700.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Manrope";
  src: url("../assets/fonts/manrope/Manrope-800.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
